body {
  margin: 0;
  font-family: ;
}

.tran {
  transition: all 0.1s ease-in-out;
}

.shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 102, 0.2);
}

.canvas {
  width: 100vw;
  padding-bottom: 100vh;
}

.place {
  position: absolute;
  width: 100vw;
  animation-timing-function: ease-out;
}

.c1 {
  animation-name: anic1;
  animation-duration: 0.2s;
  padding-bottom: 41vh;
}

.c2 {
  animation-name: anic2;
  animation-duration: 0.3s;
  padding-bottom: 67vh;
}

.c3 {
  animation-name: anic3;
  animation-duration: 0.5s;
  padding-bottom: 85vh;
}

.c4 {
  animation-name: anic4;
  animation-duration: 0.1s;
  padding-bottom: 100vh;
}

.place span {
  position: absolute;
  bottom: 0;
  color: white;
  opacity: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3px 6px 3px 6px;
  border-radius: 0px 3px 0px 0px;
}

.place:hover span {
  opacity: 1;
  letter-spacing: 1px
}

@keyframes anic1 {
  0% {
    padding-bottom: 0vh;
    opacity: 0;
  }
}

@keyframes anic2 {
  0% {
    padding-bottom: 41vh;
    opacity: 0;
  }
}

@keyframes anic3 {
  0% {
    padding-bottom: 67vh;
    opacity: 0;
  }
}

@keyframes anic4 {
  0% {
    opacity: 0
  }
}
